<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erro 404 - Página Não Encontrada</title>
</head>
<body>
    <h1>Erro 404 - Página Não Encontrada</h1>
    <p>Parece que a página que você está tentando acessar não existe. Pode ser que o endereço esteja incorreto ou que a página tenha sido removida.</p>
    <p>
        <a href="{{ url_for('users.login')}}">Voltar para a página inicial</a>
    </p>
    <p>Se precisar de ajuda, entre em contato com o suporte.</p>
</body>
</html>
