<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho de Compras</title>
</head>
<body>
    <h1>Lista de Produtos</h1>
    <table>
        <thead>
            <tr>
                <th>Imagem</th>
                <th>Nome do Produto</th>
                <th>Preço</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
                <tr>
                    <td><img src="{{ produto.img }}" alt="{{ produto.nome }}" width="100"></td> <!-- Corrigido para produto.img -->
                    <td>{{ produto.nome }}</td>
                    <td>R$ {{ produto.preco }}</td>
                    <td>
                        <a href="{{ url_for('produtos.add', id=produto.id) }}" class="botao">Adicionar</a> <!-- Corrigido de "Adicionr" para "Adicionar" -->
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <h1>Carrinho</h1>
    <ul>
        {% for id, produto in carrinho.items() %}
            <li>
                {{ produto.qntd }}x {{ produto.nome }}: R$ {{ produto.total }} <br>
                <a href="{{ url_for('produtos.delete', id=id) }}">Remover</a>
            </li>
        {% endfor %}
    </ul>
    
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        <h1>Avisos</h1>
        <ul>
            {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
</body>
</html>
