<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Titulo Gamer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap" rel="stylesheet">
</head>
<body>
    <h1 class="title">Titulo Gamer</h1>
    <div class="container">
        <h3>Nome = se é admin</h3>
        <ul>
            {% for user in users %}
                <li>
                    {{ user.nome }} - 
                    {% if user.admin %}
                        é o fodão
                    {% else %}
                        Não é adm pai!
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
